@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

body {
    font-family:'Playfair Display', serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.logo-img {
    width: 30px;
}

.main-image {
    width: 400px;
}

.small-image {
    width: 100px;
}

header, .one {
    background-color: firebrick;
    color: mistyrose;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8rem 4rem;
}

h1 {
    margin: 0 16px 0 0;
}

.sidekick {
    color:rgb(254, 188, 161);
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 24px;
    font-weight: 600;
}

.container {
    display: flex;
    flex-direction: column;
}

button {
    width: 80px;
    font-family: serif;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: mistyrose;
}
