@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Playfair+Display:wght@400;500;600&display=swap');

body {
    font-family:'Playfair Display', serif;
    background-color: #ede6e6;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.logo-img {
    width: 30px;
}

.main-image {
    width: 400px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    margin-left: 4rem;
}

.small-image {
    width: 120px;
    border: 2px solid firebrick;
    border-radius: 10%;
}

header, .one, footer {
    background-color: firebrick;
    color: mistyrose;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8rem 3rem;
}

h1, h3 {
    margin: 0 16px 0 0;
}

.sidekick {
    color:rgb(254, 188, 161);
    margin: 0 0 1rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 24px;
    font-weight: 600;
}

.container-one, .card {
    display: flex;
    flex-direction: column;
}

.two {
    text-align: center;
    padding-bottom: 2rem;
}

h2 {
    color: rgb(88, 16, 16);
    margin: 28px;
}

.container-two {
    display: flex;
    margin: 0 8rem;
    gap: 1rem;
    flex: 1 1 auto;
}

.card {
    align-items: center;
}

.image-detail {
    margin: 4px;
}

.three {
    background-color: rgb(251, 169, 169);
    padding: 2rem 9rem;
    font-size: 18px;
}

blockquote {
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
}

figcaption {
    text-align: right;
    font-weight: 600;
    margin-right: 4rem;
}

.action-box {
    display:flex;
    background-color:forestgreen;
    margin: 4rem 8rem;
    border-radius: 10px;
    color: mistyrose;
    padding: 1.5rem 4rem;
    gap: 2rem;
    align-items: center;
}

.action-box-sub {
    display: flex;
    flex-direction: column;
}

button {
    width: 8rem;
    height: 2rem;
    font-family: Jost, serif;
    border-radius: 16px;
    background-color: forestgreen;
    color: mistyrose;
    font-size: 18px;
}

.signup2 {
    border: 2px solid mistyrose;
}

p {
    font-family: Jost, sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

a {
    color: mistyrose;
    text-decoration-thickness: 0.75px;
}

header a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.75px;
}

footer {
    padding: 1rem;
    justify-content: center;
    font-weight: 500;
}