@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

body {
    font-family:'Playfair Display', serif;
    background-color: #ede6e6;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.logo-img {
    width: 30px;
}

.main-image {
    width: 400px;
}

.small-image {
    width: 120px;
    border: 2px solid firebrick;
    border-radius: 10%;
}

header, .one {
    background-color: firebrick;
    color: mistyrose;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8rem 4rem;
}

h1 {
    margin: 0 16px 0 0;
}

.sidekick {
    color:rgb(254, 188, 161);
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 24px;
    font-weight: 600;
}

.container-one, .card {
    display: flex;
    flex-direction: column;
}

.two {
    text-align: center;
    padding-bottom: 2rem;
}

h2 {
    color: rgb(88, 16, 16);
    margin: 28px;
}

.container-two {
    display: flex;
    margin: 0 8rem;
    gap: 1rem;
    flex: 1 1 auto;
}

.card {
    align-items: center;
}

.image-detail {
    margin: 4px;
}

.three {
    background-color: rgb(251, 169, 169);
    padding: 2rem 9rem;
    font-size: 18px;
}

figcaption {
    text-align: right;
    font-weight: 600;
}

button {
    width: 100px;
    height: 1.5rem;
    font-family: serif;
    border-radius: 12px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: mistyrose;
}
